.MuiTableHead-root {
    background-color: #e0e0f0;
    padding: 20px;
    margin-top: 20px;
}

.MuiTableRow-root:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 300ms;
}
